
.fixedImage {
  background-image: url('https://images.pexels.com/photos/307847/pexels-photo-307847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  height: 40rem;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}